@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Zen+Maru+Gothic&display=swap');

/* body {
  font-family: 'Zen Maru Gothic', sans-serif ;
} */
.logo {
  font-family: 'Montserrat', sans-serif;
}
.head {
  padding: 0.25em;/*文字周りの余白*/
  color: #494949;/*文字色*/
  background: rgba(15, 153, 84, 0.2);/*背景色*/
  border-left: solid 4px #0F9954;/*左線（実線 太さ 色）*/
}
.title {
  padding: 0.25rem;
  border-left: 8px solid #0F9954;
}
